h2 {
    text-transform: uppercase;
}

main section.presentation {
    width: 100%;
    height: calc(100vh - 182px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 64px;
    color: #fff;
}

main section.presentation .title {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: .4rem;
    margin-bottom: 40px;
}

main section.presentation p {
    width: 60%;
    font-family: 'Montserrat light', sans-serif;
    font-size: 1em;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

main section.presentation .call-to-action {
    border: 3px solid #fff;
    background: none;
    color: #fff;
    font-family: 'Montserrat light', sans-serif;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 40px;
}

main section.presentation .call-to-action:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    font-weight: 900;
}

main section.presentation div:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.presentation div:last-child img {
    width: 25px;
}

main section.presentation div:last-child img:hover {
    cursor: pointer;
}

@media (max-width: 750px) {

    main section.presentation {
        height: calc(100vh - 145px);
    }
    
    main section.presentation .title {
        font-size: 1.8em;
        margin-bottom: 30px;
    }

    main section.presentation p {
        width: 100%;
        font-size: .9em;
        margin-bottom: 30px;
    }

    main section.presentation .call-to-action {
        font-size: .9em;
        margin-bottom: 30px;
    }
}

@media (max-width: 488px) {
    main section.presentation {
      padding: 0 32px;
      height: calc(100vh - 184px);
    }

    main section.presentation .title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    main section.presentation p {
        width: 100%;
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    main section.presentation .call-to-action {
        font-size: 0.8em;
        margin-bottom: 10px;
    }
  
}