main div#top {
    width: 100%;
    height: calc(100vh - 182px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 64px;
    color: #fff;
}

main div#top .title {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: .4rem;
    margin-bottom: 40px;
}

main div#top p {
    width: 60%;
    font-family: 'Montserrat light', sans-serif;
    font-size: 1em;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

main div#top .call-to-action {
    border: 3px solid #fff;
    background: none;
    color: #fff;
    font-family: 'Montserrat light', sans-serif;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 40px;
}

main div#top .call-to-action:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    font-weight: 900;
}

main div#top div:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div#top div:last-child img {
    width: 25px;
}

main div#top div:last-child img:hover {
    cursor: pointer;
}

@media (max-width: 750px) {
    main div#top .title {
        font-size: 1.8em;
        margin-bottom: 30px;
    }

    main div#top p {
        width: 100%;
        font-size: .9em;
        margin-bottom: 30px;
    }

    main div#top .call-to-action {
        font-size: .9em;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    main div#top {
      padding: 0 32px;
    }

    main div#top .title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    main div#top p {
        width: 100%;
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    main div#top .call-to-action {
        font-size: 0.8em;
        margin-bottom: 10px;
    }
  
}