.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, .6);
  padding: 48px 32px;
  z-index: 2000;
  border: 3px solid #fff;
  color: #fff;
  transform: translate(-50%, -50%);
  width: 320px;
}

.modal.visible {
  display: block;
}

.modal h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal form input {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: .9rem;
  padding: 10px;
  margin-bottom: 20px;
}

.modal form input:focus {
  outline: none;
}

.modal form input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  transition: color .3s;
}

.modal form input:focus::placeholder {
  color: rgba(255, 255, 255, 0.3)
}

.modal form input:last-child {
  border: 3px solid #fff;
  color: #fff;
  font-weight: bolder;
  font-size: 1em;
  transition: background .3s, color .3s;
}

.modal form input:last-child:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.body-blackout {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.body-blackout.visible {
  display: block;
}