.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../public/images/bg-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 32px;
  z-index: 2000;

  color: #fff;
  transform: translate(-50%, -50%);
  width: 320px;
}

.modal h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal form input {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: .9rem;
  padding: 10px;
  margin-bottom: 20px;
}

.modal form input:last-child {
  color: #122035;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .3rem;
  background-color: #fff;
}

.modal form input:last-child:hover {
  cursor: pointer;
}

.modal.visible {
  display: block;
}

.body-blackout {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.body-blackout.visible {
  display: block;
}