nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  /* position: fixed; */
}

.nav-logo {
  display: inline;
  width: 164px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
}

.nav-item {
  display: inline;
  margin: 0 30px; 
}

.nav-link {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

#btn-nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  nav {
    padding: 32px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .nav-logo {
    margin-bottom: 20px;
  }

  .nav-list {
    margin: 0;
  }

}